body{
	background-color: black;
}

#container{
	padding: 10px; 
}

#myVideo{
	width: 90%;
}
button{
	width: 150px;
	padding: 10px;
	background-color: black;
	color: white;
}
#playButtons{
	position: absolute;
	top: 10px;
	left: 10px;
}