body{
	background-color: #B4B8C5;
}
li{
	display: inline-block;
	padding-right: 20px;
}
h1{
	text-align: center;
}
p{
	background-color: white; 
	width: inherit; 
	padding: 20px;
}
#navBar{
	background-color: #28965A; 
	width = 100%; 
	padding: 10px; 
	text-align: center;
}
#headerBlock{
	background-color: #00CC66;
	width = 100%;
	padding: 20px;
}
#contentBlock{
	width: inherit; 
	background-color: #FEFFE; 
	text-align: center;
	margin: 5%;
}

table, th, tr{
	background-color: #FEFFE; 
	text-align: center;
}
#headerBlock a{
	text-decoration: none;
	color:white;
}
#navBar a{
	text-decoration: none;
	color:white;
}
img{
	display:inline-block;
	width: 100px;
	margin: 10px;
}
#contentRow{
	display: inline-block;
}
#quiz{
	display: inline;
	text-align: left;
	list-style-type: upper-roman;
}
#quiz li{
	display: inline;
	list-style-type: upper-roman;
}
#tableForm{
	margin-left:40%;
	padding: 20px;
	background-color: #FEFFE;
}